#PARÁMETROS PARA CONFIGURACIÓN LOCAL
export PROJECT_PATH="/home/jorgequintana/Documents/Quantomm"
export INSTALL=1                                                                   #1 = Instalar, 2 = Actualizar y 3 = Instalar + Actualizar
export S3_INSTALL=0                                                                #1 = S3, 0 = Socrata
export S3_DOWNLOAD=0                                                               #1 = Sí, 0 = No
export TO_CLOUD=0                                                                  #1 = Sí, 0 = No
export SAVE_TO_DISK=0                                                              #1 = Sí, 0 = No
export FRESH_INSTALL=0                                                             #1 = Sí, 0 = No

export START=0
export SRC_PATH=$PROJECT_PATH/modelodatosabiertos/src
export DATA_PATH=$PROJECT_PATH/modelodatosabiertos/data
export LOG_PATH=$PROJECT_PATH/modelodatosabiertos/logs
export JSON_PATH=$PROJECT_PATH/modelodatosabiertos/data/JSON
export MARIADB_PATH=$PROJECT_PATH/modelodatosabiertos/data/MariaDB

#CREDENCIALES PARA SOCRATA
export SOCRATA_TOKEN=XXXX
export LIMIT=50000

## CREDENCIALES PARA AWS
export AWS_ACCESS_KEY_ID=XXXX
export AWS_SECRET_ACCESS_KEY=XXXX
export S3_BUCKET_NAME=XXXX

## CREDENCIALES PARA MARIADB
#export MARIADB_USER=XXXX
#export MARIADB_PASSWORD=XXXX
#export MARIADB_HOST=XXXX
#export MARIADB_DB=XXXX

export MARIADB_USER=XXXX
export MARIADB_PASSWORD=XXXX
export MARIADB_HOST=XXXX
export MARIADB_DB=XXXX
